{{define "title"}}home{{end}}

{{define "main"}}
<div class='h-1/4'></div>
<main class='flex flex-col justify-center gap-4 px-4'> 
  {{template "header" .}}
  <p class='text-sm md:text-base min-[370px]:text-justify font-light leading-relaxed'>Hey! I'm a software engineer based out of Toronto. I previously worked at Bolt, helping build a universal checkout experience. Before that I was at Ratio.City, helping city builders navigate complex geospatial data.</p>
</main>
{{end}}

