{{define "title"}}photography{{end}}

{{define "main"}}
<main class='mb-16'>
  {{template "header" .}}
  <ul class='flex flex-wrap gap-1'>
  {{if .Photos}}
    {{range .Photos}}
    <li class='grow h-[20vh]'>
      <a href='{{.}}'>
        <image class='w-full h-full object-cover' src='{{.}}'>
      </a>
    </li>
    {{end}}
  {{end}}
    <li class='last:grow-[10]'></li>
  </ul>
</main>
{{end}}

