{{define "title"}}projects{{end}}

{{define "main"}}
<main class='mb-16'>
  {{template "header" . }}
  <ol class='flex flex-col gap-y-4'> 
    {{if .Projects}}
      {{range .Projects}}
        <div class='flex flex-col'>
          <a class='underline hover:text-gray-400 decoration-gray-400' target='_blank' rel='noreferrer' href='{{.WebURL}}'>{{cleanName .Name}}</a>
          <p class='text-sm font-light md:text-base'>{{.Description}}</p>
        </div>
      {{end}}
    {{end}}
  </ol>
</main>
{{end}}

