{{define "base"}}
<!doctype html>
<html lang='en' class='w-full h-full'>
  <head>
    <meta charset='utf-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>
    <title>{{template "title" .}}</title>
    <link rel='stylesheet' href='/static/css/main.css'>
  </head>
  <body class='mx-8 my-8 h-full md:w-[700px] md:mx-auto'>
    {{template "main" .}}
  </body>
</html>
{{end}}
