{{define "header"}}
{{if eq .Page "home"}}
<header class='mb-2'>
  <h1 class='text-4xl text-center tracking-wider'>alex portillo</h1>
  <div class='flex justify-center'>
    <ul class='text-sm flex inline-flex space-x-3 tracking-wider font-light'> 
      <li><a class='underline hover:text-gray-400 decoration-gray-400' href='/projects'>projects</a></li>
      <li><a class='underline hover:text-gray-400 decoration-gray-400' href='/photography'>photography</a></li>
    </ul>
  </div>
</header>
{{else}}
<header class='mb-4 flex justify-between items-baseline'>
  <h1 class='max-[420px]:text-xl max-[420px]:pr-2 text-2xl tracking-wider pr-4'>alex portillo</h1>
    <ul class='max-[420px]:text-xs max-[420px]:gap-1 text-sm flex inline-flex gap-2 items-baseline tracking-wider font-light'>
      <li><a class='underline hover:text-gray-400 decoration-gray-400' href='/'>home</a></li>
      {{if eq .Page "projects"}}
      <li class='font-normal'>projects</li>
      {{else}}
      <li><a class='underline hover:text-gray-400 decoration-gray-400' href='/projects'>projects</a></li>
      {{end}}
      {{if eq .Page "photography"}}
      <li class='font-normal'>photography</li>
      {{else}}
      <li><a class='underline hover:text-gray-400 decoration-gray-400' href='/photography'>photography</a></li>
      {{end}}
    </ul>
</header>
{{end}}
{{end}}
